certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cryptography==37.0.2
idna==3.3
numpy==1.22.3
pandas==1.4.2
pdfminer.six==20220319
pdfplumber==0.6.2
Pillow==9.1.0
pycparser==2.21
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
urllib3==1.26.9
Wand==0.6.7
